@import url("./standard.css");

*{
    font-family: var(--primary-font);
}
.nav-item{
    font-size: 22px;
    font-weight: bold;
}

.beforeinspectsignin{
    display: flex;
    align-items: center;
    display: none;
}
.verticaline{
    border-right: 1px solid black;
    height: 50px;
}
.cartimg{
    height: 50px;
}
.rightside{
    display: flex;
    gap: 20px;
    padding: 10px;
    text-align: center;
    align-items: center;
}
.rightside>a{
    font-size: 22px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.startanorderbtn{
    width: 120px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 0 20px;
    background-color: #ffc600;
    min-height: 44px;
}
.largestartorderbtn{
    width: 100%;
    display: none;
}
/* carousel */
.carousel-container{
    margin-top: 3rem;
    display: inline-block;
    position: relative;
    width: 100%;
    display: flex;
    height: 200px;
    gap:20px;
    background-color: #E3E1DB;
}
.carousel-container>div>h2{
    font-weight: bolder;
    font-size: 30px;
    width: 30px;
    padding: 40px 0px 0px 55px;
    margin: 0px;
    color: var(--text-black);
}
.carousel-container>div>h1{
    font-weight: bolder;
    font-size: 45px;
    padding: 0px 0px 0px 55px;
    color: var(--text-black);
}
.carousel-container>div>img{
    position: absolute;
    top: 8rem;
}
.owl-carousel {
    display: flex;
    gap:20px;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 950px;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 20px;
    left: 20rem;
    text-align: center;
    background-color: var(--bg-light);
    border-radius: 10px;
    border:none;
  }
  
  .owl-carousel .item {
    flex: 0 0 auto;
    width: 220px;
    margin-right: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
    background-color: #ffff;
  }
  .owl-carousel>.item>h5{
    font-size: 15px;
    font-weight: 600;
  }
  .owl-carousel>.item>a{
    color: var(--text-black);
    font-weight: 500;
  }
  
  .owl-carousel .item img {
    width: 100%;
    height: auto;
  }
  
  @media only screen and (max-width: 768px) {
    .carousel-container{
        margin-top: 3rem;
        display: inline-block;
        position: relative;
        width: 100%;
        display: flex;
        height: 300px;
        gap:10px;
        background-color: #E3E1DB;
    }
    .carousel-container>div>h2{
        font-weight: bolder;
        font-size: 20px;
        width: 30px;
        padding: 40px 0px 0px 35px;
        margin: 0px;
        color: var(--text-black);
    }
    .carousel-container>div>h1{
        font-weight: bolder;
        font-size: 35px;
        padding: 0px 0px 0px 35px;
        color: var(--text-black);
    }
    .carousel-container>div>img{
        position: absolute;
        top: 6rem;
        height: 150px;
    }
    .owl-carousel {
        display: flex;
        gap:20px;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 550px;
        -webkit-overflow-scrolling: touch;
        position: absolute;
        top: 20px;
        left: 10rem;
        text-align: center;
        background-color: var(--bg-light);
        border-radius: 10px;
        border:none;
      }
  }
  
@media only screen and (max-width:991px){
    .startanorderbtn{
        display: none;
    }
    .largestartorderbtn{
        display: block;
        background-color: #ffc600;
        border: none;
        font-size: 16px;
        padding: 0px 20px;
        min-height: 44px;
        font-weight: bolder;
    }
    .beforeinspectsignin{
        display: block;
        display: flex;
        gap: 10px;
        font-size: 22px;
    }
    .beforeinspectsignin>a{
        text-decoration: none;
        color: black;
        font-weight: 500;
    }
    .line{
        height: 45px;
        border-left: 1px solid black;
    }
    .rightside{
        display: none;
    }
    .nav-link{
        text-align: center;
    }
    .navbar-toggler{
        border: none;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    /* carousel */
    .carousel-container{
        margin-top: 3rem;
        display: inline-block;
        position: relative;
        width: 100%;
        display: flex;
        height: 180px;
        gap:20px;
        background-color: #E3E1DB;
    }
    .carousel-container>div>h2{
        font-weight: bolder;
        font-size: 30px;
        width: 30px;
        padding: 20px 0px 0px 25px;
        margin: 0px;
        color: var(--text-black);
    }
    .carousel-container>div>h1{
        font-weight: bolder;
        font-size: 45px;
        padding: 0px 0px 0px 25px;
        color: var(--text-black);
        margin: 0px;
    }
    .owl-carousel{
        display: flex;
        gap: 5px;
        width: 600px;
    }
    .owl-carousel .item{
        width: 150px;
    }
    .carousel-container>div>img{
        position: absolute;
        top: 8rem;
        height: 180px;
    }
}
@media only screen and (max-width:370px){
    .carousel-container{
        margin-top: 3rem;
        display: inline-block;
        position: relative;
        width: 100%;
        display: flex;
        height: 140px;
        gap:10px;
        background-color: #E3E1DB;
    }
    .carousel-container>div>h2{
        font-weight: bolder;
        font-size: 15px;
        width: 20px;
        padding: 30px 0px 0px 25px;
        margin: 0px;
        color: var(--text-black);
    }
    .carousel-container>div>h1{
        font-weight: bolder;
        font-size: 25px;
        padding: 0px 0px 0px 25px;
        color: var(--text-black);
    }
    .owl-carousel {
        display: flex;
        gap:10px;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100px;
        -webkit-overflow-scrolling: touch;
        position: absolute;
        top: 20px;
        left: 11rem;
        text-align: center;
        background-color: var(--bg-light);
        border-radius: 10px;
        border:none;
      }
      .owl-carousel .item {
        flex: 0 0 auto;
        width: 100px;
        margin-right: 5px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        border-radius: 10px;
        background-color: #ffff;
      }
      .carousel-container>div>img{
        position: absolute;
        top: 6rem;
        height:120px;
    }
}
/* -------------Menu--------------- */
.menu{
    background: url(./images/menu-section-background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 100px;
    margin-top: 150px;
}
.menuBox_bullet{
    background-color: #ffc600;
    padding: 5px;
    width: 70px;
}
.menu_heading{
    color: white;
    font-weight: 900;
    font-size: 2.5rem;
}
.main_menu{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
}
.menuItem{
    display: flex;
    align-items: center;
    background-color: white;
    width:425px;
    height:150px;
    font-size: 150%;
    font-weight: 900;
    color: #382e2c;
    border-radius: 10px;
    padding: 0px 10px;
}
.menuItem img{
    width: 40%;
}
.menuItem span{
    text-align: center;
    min-width: 50%;
}
#greatMenu_Title{
    width:425px;
    font-size: 150%;
    font-weight: 900;
    color: #382e2c;
    line-height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#greatMenu_Title span{
    font-size: 100%;
}
#greatMenu_Title p{
    margin: 0px;
}