@import url("./standard.css");

*{
    font-family: var(--primary-font);
}
.nav-item{
    font-size: 22px;
    font-weight: bold;
}

.beforeinspectsignin{
    display: flex;
    align-items: center;
    display: none;
}
.verticaline{
    border-right: 1px solid black;
    height: 50px;
}
.cartimg{
    height: 50px;
}
.rightside{
    display: flex;
    gap: 20px;
    padding: 10px;
    text-align: center;
    align-items: center;
}
.rightside>a{
    font-size: 22px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.startanorderbtn{
    width: 120px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 0 20px;
    background-color: #ffc600;
    min-height: 44px;
}
.largestartorderbtn{
    width: 100%;
    display: none;
}
.carousel-container{
    margin-top: 3rem;
    display: inline-block;
    position: relative;
    width: 100%;
    display: flex;
    height: 200px;
    background-color: #E3E1DB;
}
.carousel-container>div>h2{
    font-weight: bolder;
    font-size: 40px;
    padding-top: 1rem;
    padding-left: 4rem;
    margin: 0px;
}
.carousel-container>div>img{
    position: absolute;
    top: 8rem;
}
.owl-carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 800px;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 20px;
    left: 30rem;
    text-align: center;
    background-color: #ffff;
    border-radius: 10px;
  }
  
  .owl-carousel .item {
    flex: 0 0 auto;
    width: 200px;
    margin-right: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  
  .owl-carousel .item img {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .owl-carousel {
      overflow-x: visible;
    }
    .owl-carousel .item {
      margin-right: 0;
    }
  }
  
@media only screen and (max-width:991px){
    .startanorderbtn{
        display: none;
    }
    .largestartorderbtn{
        display: block;
        background-color: #ffc600;
        border: none;
        font-size: 16px;
        padding: 0px 20px;
        min-height: 44px;
        font-weight: bolder;
    }
    .beforeinspectsignin{
        display: block;
        display: flex;
        gap: 10px;
        font-size: 22px;
    }
    .beforeinspectsignin>a{
        text-decoration: none;
        color: black;
        font-weight: 500;
    }
    .line{
        height: 45px;
        border-left: 1px solid black;
    }
    .rightside{
        display: none;
    }
    .nav-link{
        text-align: center;
    }
    .navbar-toggler{
        border: none;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
}
/* -------------Menu--------------- */
.menu{
    background: url(./images/menu-section-background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 100px;
    margin-top: 150px;
}
.menuBox_bullet{
    background-color: #ffc600;
    padding: 5px;
    width: 70px;
}
.menu_heading{
    color: white;
    font-weight: 900;
    font-size: 2.5rem;
}
.main_menu{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
}
.menuItem{
    display: flex;
    align-items: center;
    background-color: white;
    width:425px;
    height:150px;
    font-size: 150%;
    font-weight: 900;
    color: #382e2c;
    border-radius: 10px;
    padding: 0px 10px;
}
.menuItem img{
    width: 40%;
}
.menuItem span{
    text-align: center;
    min-width: 50%;
}
#greatMenu_Title{
    width:425px;
    font-size: 150%;
    font-weight: 900;
    color: #382e2c;
    line-height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#greatMenu_Title span{
    font-size: 100%;
}
#greatMenu_Title p{
    margin: 0px;
}